/* Style dasar */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
    overflow-y: auto; /* Gunakan scroll hanya dari browser */
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

/* Filter button */
.filter {
    margin-bottom: 20px;
}

.filter button {
    padding: 8px 16px;
    margin-right: 10px;
    border: none;
    background-color: #4CB963;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* Tombol SUV, Sport, Truck mirip Details */
.filter button:not(:first-child) {
    background-color: #E6E6E6;
    color: #4CB963;
}

.search-title {
    color: #4CB963; /* Warna hijau */
    font-size: 32px;
    margin: 10px 0 30px; /* Jarak antara filter dan card */
}

/* Kartu hasil pencarian */
.search-result {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Jarak antar item */
}

/* Card style */
.card {
    display: flex;
    flex-direction: row-reverse; /* Membalik posisi gambar ke kanan */
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 500px;
    height: auto;
}

.card-content {
    padding: 20px;
    margin: 10;
}

/* Style judul dan deskripsi */
.card h3 {
    margin: 10 10 10px;
    
}

.card p {
    color: #555;
    margin: 10 10 15px;
}

/* Badge umum */
.badge {
    padding: 5px 10px;
    background-color: #4CB963;
    color: white;
    border-radius: 5px;
    margin-right: 5px;
}

/* Badge "Details" */
.badge-details {
    padding: 5px 10px;
    background-color: #E6E6E6;
    color: #4CB963;
    border-radius: 5px;
    margin-right: 5px;
}

/* Pagination */
.pagination {
    text-align: center;
    margin-top: 30px;
}

.pagination button {
    padding: 8px 12px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination .active {
    background-color: #4CB963;
    color: white;
}
